In [230]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [231]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1435,tt0317219,120000000,461983149,Cars,Owen Wilson|Paul Newman|Bonnie Hunt|Larry the ...,John Lasseter|Joe Ranft,Ahhh... it's got that new movie smell.,"Lightning McQueen, a hotshot rookie race car d...",117,Animation|Adventure|Comedy|Family,Walt Disney Pictures|Pixar Animation Studios,6/8/2006,6.4,2006
409,tt1001526,130000000,321885765,Megamind,Will Ferrell|Brad Pitt|Tina Fey|Jonah Hill|Dav...,Tom McGrath,His brain is off the chain.,Bumbling supervillain Megamind finally defeats...,95,Animation|Action|Comedy|Family|Science Fiction,DreamWorks Animation,10/28/2010,6.6,2010
1574,tt0338348,165000000,305875730,The Polar Express,Tom Hanks|Michael Jeter|Eddie Deezen|Chris Cop...,Robert Zemeckis,Journey Beyond Your Imagination.,This is the story of a young boy on Christmas ...,100,Animation|Adventure|Family|Fantasy,Castle Rock Entertainment|Golden Mean|Universa...,11/9/2004,6.4,2004
207,tt1100089,24000000,12096300,Foxcatcher,Steve Carell|Channing Tatum|Mark Ruffalo|Sienn...,Bennett Miller,Based on the shocking true story,The greatest Olympic Wrestling Champion brothe...,134,Drama|Thriller,Likely Story|Media Rights Capital|Annapurna Pi...,5/19/2014,6.5,2014
579,tt0219965,75000000,67631903,Bandits,Bruce Willis|Billy Bob Thornton|Cate Blanchett...,Barry Levinson,"Two's Company, Three's A Crime.",Two bank robbers fall in love with the girl th...,123,Action|Comedy|Crime|Romance,Cheyenne Enterprises|Epsilon Motion Pictures|E...,10/12/2001,6.1,2001

In [232]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [233]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
data['release_date']= pd.to_datetime(data['release_date'])
#создаем в data столбец profit 
data['profit'] = (data['revenue'] - data['budget'])
#

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [234]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)' # +
# если ответили верно, можете добавить комментарий со значком "+"

In [235]:
data.groupby(['original_title', 'imdb_id'])['budget'].max().sort_values(ascending = False).head(1)

original_title                               imdb_id
Pirates of the Caribbean: On Stranger Tides  tt1298650    380000000
Name: budget, dtype: int64

ВАРИАНТ 2

In [236]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [237]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [238]:
data.groupby(['original_title', 'imdb_id'])['runtime'].max().sort_values(ascending = False).head(1)

original_title     imdb_id
Gods and Generals  tt0279111    214
Name: runtime, dtype: int64

# 3. Какой из фильмов самый короткий (в минутах)?

In [239]:
answers['3'] = "Winnie the Pooh  (tt1449283)"

In [240]:
data.groupby(['original_title', 'imdb_id'])['runtime'].min().sort_values(ascending = True).head(1)

original_title   imdb_id
Winnie the Pooh  tt1449283    63
Name: runtime, dtype: int64

# 4. Какова средняя длительность фильмов?

In [241]:
answers['4'] = "110"

In [242]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [243]:
answers['5'] = "107"

In [244]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [245]:
answers['6'] = "Avatar (tt0499549)"

In [246]:
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [247]:
answers['7'] = "The Lone Ranger (tt1210819)"

In [248]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [249]:
answers['8'] = "1478"

In [250]:
len(data[data.revenue > data.budget])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [251]:
answers['9'] = "The Dark Knight (tt0468569)"

In [252]:
data.loc[data['release_year'] == 2008].query('revenue == revenue.max()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [253]:
answers['10'] = "The Lone Ranger (tt1210819)"

In [254]:
data[(data.release_year>2012) &
     (data.release_year<=2014) ][['imdb_id', 'profit','release_year', 'original_title',]].query('profit == profit.min()')

        imdb_id     profit  release_year   original_title
1245  tt1210819 -165710090          2013  The Lone Ranger

# 11. Какого жанра фильмов больше всего?

In [255]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [256]:
answers['11'] = "Drama"

In [257]:
display(data['genres'].str.split('|').explode().value_counts().head(1))

Drama    782
Name: genres, dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [258]:
answers['12'] = "Drama"

In [259]:
profit_movie = data[data.profit > 0]
answer = profit_movie.genres.str.split('|',expand=True).stack().value_counts().head(1)
answer

Drama    560
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [260]:
answers['13'] = "Peter Jackson"

In [261]:
data.groupby(['director'])['profit'].sum().sort_values(ascending = False).head(1)

director
Peter Jackson    5202593685
Name: profit, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [262]:
answers['14'] = "Robert Rodriguez"

In [263]:
grouped1 = data[data.genres.str.contains("Action", na=False)] # фильтруем фильмы с action
grouped2 = grouped1['director'].str.split('|',expand=True).stack().value_counts() # 
grouped2.head(1)

Robert Rodriguez    9
dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [264]:
answers['15'] = "Chris Hemsworth"

In [265]:
data_2012 = data[data.release_year == 2012][['cast', 'revenue', 'original_title']] # фильтруем 2012
data_2012.cast = data_2012.cast.apply(lambda s: s.split('|')) # отделяем актеров от "|"
data_2012_exploded = data_2012.explode('cast') # отделяем актеров отдельным списом друг от друга
data_2012_exploded.groupby(['cast']).revenue.sum().sort_values(ascending = False).head(1) #суммируем revenue и сотрируем от большего

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [266]:
answers['16'] = "Matt Damon"

In [267]:
def podschet(spisok, x):# создаем функцию подсчета значений
    data_str = spisok[x].str.cat(sep='|') #создаем лист со знаениями, разделенный "|" 
    _str_list = pd.Series(data_str.split('|')) # создаем список с каждым значением отдельно
    info = _str_list.value_counts(ascending=False) # подсчет значений
    return info 
most_budget = podschet(data[data['budget'] > 
                        data['budget'].mean()], 'cast')# применияем функцию к выскокобюдж фильмам и сортируем все по актерам
most_budget.head(1)

Matt Damon    18
dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [268]:
answers['17'] = "Action"

In [269]:
cage = data[data.cast.str.contains("Cage", na=False)] # фильтруем фильмы с Nicolas Cage
genre_cage = cage['genres'].str.split('|',expand=True).stack().value_counts() # подсчет разделенных "|" жанров в дата cage
genre_cage.head(1)

Action    17
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [270]:
answers['18'] = "K-19: The Widowmaker (tt0267626)"

In [271]:
data_Paramount = data[data.production_companies.str.contains('Paramount Pictures')]
data_Paramount.sort_values('profit', ascending = True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,2002-07-19,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [272]:
answers['19'] = "2015"

In [273]:
data.groupby(['release_year'])['profit'].sum().sort_values(ascending = False).head(1)

release_year
2015    18668572378
Name: profit, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [274]:
answers['20'] = "2014"

In [275]:
data_Warner_Bros = data[data.production_companies.str.contains('Warner Bros')]
data_Warner_Bros.groupby('release_year')['profit'].sum().sort_values(ascending = False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [276]:
answers['21'] = "Сентябрь"

In [277]:
data.groupby(data['release_date'].dt.strftime('%B'))['imdb_id'].count().sort_values(ascending = False)

release_date
September    227
December     190
October      186
August       161
March        156
April        149
June         147
November     146
July         142
May          140
February     135
January      110
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [278]:
answers['22'] = "450"

In [279]:
data[data.release_date.dt.month.isin([6, 7, 8,])].imdb_id.nunique()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [280]:
answers['23'] = "Peter Jackson"

In [281]:
zima = data[data.release_date.dt.month.isin([1, 2, 12,])] # фильтруем DF только по фильмам выпущенным зимой 
zima.groupby('director')['profit'].sum().sort_values(ascending = False)

director
Peter Jackson               4435590117
James Cameron               2544505847
J.J. Abrams                 1868178225
Clint Eastwood              1077156751
Steven Soderbergh            795637426
                               ...
Walter Hill                  -45510171
Jim Gillespie                -48583698
Michael Mann                 -71533235
Walter Hill|Jack Sholder     -75171919
James L. Brooks              -96289726
Name: profit, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [282]:
answers['24'] = "Four By Two Productions"

In [283]:
def podschet(spisok, x):# создаем функцию подсчета значений
    data_str = spisok[x].str.cat(sep='|') #создаем лист со значениями, разделенный "|" 
    _str_list = pd.Series(data_str.split('|')) # создаем список с каждым значением отдельно
    info = _str_list.value_counts(ascending=False) # info подсчитыает значения
    return info 
data['title_length'] = data.original_title.map(lambda x: len(x.split(' ')))
kompanii= podschet (data,'production_companies')
for kompaniya in kompanii.index:
    kompanii[kompaniya] = data['title_length'][data['production_companies'].map(lambda x: True if kompaniya in x else False)].mean()
kompanii = pd.DataFrame(kompanii).sort_values(0, ascending=False)
kompanii

                          0
Four By Two Productions  12
Jim Henson Company, The  10
The Saul Zaentz Company   9
Dos Corazones             9
Polsky Films              9
...                      ..
TOKYOPOP                  1
Jolie Pas                 1
The Cantillon Company     1
Rena Film                 1
Mark Canton Productions   1

[1771 rows x 1 columns]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [284]:
answers['25'] = "Midnight Picture Show "

In [285]:
data['lenght'] = data.overview.map(lambda x: len(x.split(' '))) # определяем  длину в overview
df2 = pd.DataFrame(data.production_companies.str.split('|').tolist()).stack() # отделяем компании в список
df2=df2.value_counts(ascending=False)
df2 = pd.DataFrame(df2)
df2.columns = ['lenght'] 
for i in df2.index:
    df2.lenght[i] = data[data['production_companies'].map(lambda x: True if i in x else False)].lenght.mean()
# Сортируем полученный список и берем верхнюю запись 
df2.sort_values(ascending=False, by = 'lenght')

                                       lenght
Midnight Picture Show                     175
Room 9 Entertainment                      161
Heineken Branded Entertainment            161
98 MPH Productions                        159
Brookwell-McNamara Entertainment          156
...                                       ...
Our Stories Films                          13
Projection Pictures                        13
Phantom Four                               13
Empire Pictures                            11
Motion Picture Corporation of America      11

[1771 rows x 1 columns]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [286]:
answers['26'] = "Inside Out, The Dark Knight, 12 Years a Slave"

In [287]:
data[data['vote_average']>data.quantile(q=0.99, numeric_only=True,)['vote_average']]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,title_length,lenght
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,2015-06-09,8.0,2015,678708609,2,112
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,2015-10-16,8.0,2015,29401758,1,49
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,2014-11-05,8.0,2014,456752480,1,35
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,2014-07-30,7.9,2014,603312399,4,28
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,2014-11-14,8.0,2014,219555708,3,46
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,2014-10-01,7.9,2014,308330363,2,30
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2014-02-26,7.9,2014,144600318,4,66
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,2010-07-14,7.9,2010,665500000,1,44
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825,3,67
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,2002-09-24,7.9,2002,85072577,2,39
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,2003-12-01,7.9,2003,1024888979,10,45
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,2013-12-25,7.9,2013,292000694,5,29
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,2013-10-18,7.9,2013,167000000,4,61
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,2000-10-11,7.9,2000,30723096,1,78

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [288]:
answers['27'] = "Daniel Radcliffe & Rupert Grint"

In [289]:
from itertools import combinations
actor_list = data.cast.str.split('|').tolist()
combo_list=[]
for i in actor_list:
    for j in combinations(i, 2):
        combo_list.append(' '.join(sorted(j)))
combo_list = pd.DataFrame(combo_list)
combo_list.columns = ['actor_combinations']
combo_list.actor_combinations.value_counts().head(10)

Emma Watson Rupert Grint            8
Daniel Radcliffe Emma Watson        8
Daniel Radcliffe Rupert Grint       8
Helena Bonham Carter Johnny Depp    6
Ben Stiller Owen Wilson             6
Kristen Stewart Robert Pattinson    5
Hugh Jackman Ian McKellen           5
Robert Pattinson Taylor Lautner     5
Paul Walker Vin Diesel              5
Kristen Stewart Taylor Lautner      5
Name: actor_combinations, dtype: int64

ВАРИАНТ 2

# Submission

In [290]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh  (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show ',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [291]:
# и убедиться что ни чего не пропустил)
len(answers)

27